/**
 * Style
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  color: #333;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
}

h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 38%;
  background: #ddd;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

a {
  color: #239bf6;
}

pre {
  overflow-x: scroll;
  color: #fff;
  background: #333;
  padding: 10px;
}

/**
 * Banner
 */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: #239bf6;
  z-index: 10;
  text-align: center;
  display: none;
}

/* Header */
.header {
  height: 60px;
  line-height: 60px;
  background: rgba(0, 0, 0, .6);
  border-bottom: solid 1px rgba(255, 255, 255, .2);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header a:hover {
  color: #239bf6;
}

.brand {
  float: left;
}

.links {
  float: right;
}

.links a {
  margin-left: 1rem;
}

/*
Footer
 */
.footer {
  background: #fff;
  border-top: solid 1px rgba(0, 0, 0, .1);
  padding: 40px 0;
  margin-top: 4rem;
}

/* Hero */
.hero {
  position: relative;
}

.hero-content {
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.hero .cover {
  background: #333 url(cover.png) no-repeat center -100px fixed;
  -webkit-background-size: cover;
  background-size: cover;
  height: 900px;
}

.hero .cover::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
}

/* Install */
.section-install {
  margin-top: 4rem;
}

/*
Search field
 */
.search-field {
  margin: 20px auto;
  height: 46px;
  width: 100%;
  border-radius: 2px;
  border: solid 1px rgba(0, 0, 0, .2);
  background: #fff;
  outline: none;
  padding-left: 10px;
  display: block;
  font-size: .8rem;
}

.search-field:focus {
  border: solid 1px #239bf6;
}

/*
Icon list
 */
.section-icons {
  margin-top: 4rem;
}

.list-icons {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}

.item-icon {
  width: 25%;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  transition: background .2s;
}

.item-icon:hover {
  background: rgba(0, 0, 0, .05);
}

.item-icon [class^="fl-icon-"]{
  font-size: 3rem;
  display: block;
  margin-bottom: 1rem;
  transition: color .2s;
}

.item-icon:hover [class^="fl-icon-"]{
  color: #239bf6;
}

.item-icon .copyboard {
  /*display: none;*/
}

/*
No Result
 */
.no-result {
  text-align: center;
  padding: 50px 0;
  background: rgba(0, 0, 0, .05);
  display: none;
}

/**
 * Responsive
 */
@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
  }

  .list-icons .item-icon{
    width: 50%;
  }
}
